.about {
  background-color: #F3F5FA;
  box-shadow: 0 3px 7px 0 rgba(110, 112, 114, 0.21);
}

.about .container {
  background-color: white;
  box-shadow: 0 3px 7px 0 rgba(110, 112, 114, 0.21);
}

.content p {
  text-align: justify;
  text-justify: inter-word;
}
  
