.slider {
    margin-top: 100px;
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    margin-top: 170px;
    top: 50%;
    right: 0px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    opacity: 0.65;
}

.left-arrow {
    position: absolute;
    margin-top: 170px;
    top: 50%;
    left: 0px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    opacity: 0.65;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}